<h1>Forbidden Access</h1>
<p>{{{error}}}</p>
<br>
<a href="/">Click here to log-in!</a>
{{!--

If the user is NOT logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Error page saying that the user is not logged in

--}}