<h1>Logged-In</h1>
<p>{{{userName}}} was successfully logged in on {{{dateTime}}}</p>
<br>
<a href="logout">Click here to logout!</a>
{{!--

If the user is logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Username (which you stored in the session when they logged in) for the currently logged in user
-The current date/time

Also, you will need to have a hyperlink at the bottom of the page to /logout.

--}}